*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(33,125,244);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(189, 204, 224);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 7px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    margin-top: 16px;
}

.btn {
    background-color: rgb(65, 151, 65);
    border: 2px solid hsl(93, 85%, 21%);
    border-radius: 5px;
    padding: 3px 7px;
    color: whitesmoke;
    outline: none;
}

.btn:hover {
    border-color: whitesmoke;
}